@import 'colours';

.stock-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid $orange;
  background-color: $light-grey;
  color: $dark-grey;
  border-radius: 8px;
  margin-bottom: 15px;
}

.stock-col-1 {
  display: flex;
  align-items: center;
  width: 150px;
  flex-wrap: wrap;

  .stock-name {
    margin: 0;
    margin-right: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  p:last-child {
    opacity: 50%;
    font-weight: 600;
  }
}